<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--<script  src="//fb.me/react-0.13.3.js" ></script>
    <script  src="//fb.me/JSXTransoformer-0.13.3.js" ></script> -->
</head>
<body>
<script type="text/jsx" src="/js/bundle.min.js" ></script>
</body>
</html>